.ListOfUsers_MainContainer {
    display: flex;
    flex-direction: column;
    border-radius:  10px;
    
    border: 1px solid black;

    ul {
        li {
            span {
                color: red;
            }
        }
    }
}